				<li>
					<div class="thumbnail">
						<%= image_tag('catedral.jpg') %>
						<div class="caption">
							<h4>Catedral Primada</h4>
							<p>justo odio egestas eget quam. Donec id elit </p>
							<p>
								<a class="btn btn-primary" href="#">Add to mi guide</a>
							</p>
						</div>
					</div>
				</li>
				<li>
				<div class="thumbnail">
					<%= image_tag('alcazar.JPG') %>
					<div class="caption">
						<h4>Alcázar</h4>
						<p>justo odio egestas eget quam. Donec id elit </p>
						<p>
							<a class="btn btn-primary" href="#">Add to mi guide</a>
						</p>
					</div>
				</div>
				</li>
				<li>
					<div class="thumbnail">
						<%= image_tag('toledo2.jpg') %>
						<div class="caption">
							<h4>Callejón del Diablo, no te lo puedes perder</h4>
							<p>justo odio egestas eget quam. Donec id elit </p>
							<p>
								<a class="btn btn-primary" href="#">Add to mi guide</a>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<%= image_tag('san_juan.jpg') %>
						<div class="caption">
							<h4>San Juan de los Reyes</h4>
							<p>justo odio egestas eget quam. Donec id elit </p>
							<p>
								<a class="btn btn-primary" href="#">Add to mi guide</a>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<%= image_tag('ruta_toledo.jpg') %>
						<div class="caption">
							<h4>Paseo Río Tajo</h4>
							<p>justo odio egestas eget quam. Donec id elit </p>
							<p>
								<a class="btn btn-primary" href="#">Add to mi guide</a>
							</p>	
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<%= image_tag('adolfo.jpg') %>
						<div class="caption">
							<h4>Restaurante Adolfo</h4>
							<p>justo odio egestas eget quam. Donec id elit </p>
							<p>
								<a class="btn btn-primary" href="#">Add to mi guide</a>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="thumbnail">
						<%= image_tag('picaro.jpg') %>
						<div class="caption">
							<h4>Café Pícaro</h4>
							<p>justo odio egestas eget quam. Donec id elit </p>
							<p>
								<a class="btn btn-primary" href="#">Add to mi guide</a>
							</p>
						</div>
					</div>
				</li>