<% content_for :title do %>
  <%= @user.name+" | "+t('site.name') %>
<% end %>


<% content_for :description do %>
  <% if @user.profile.description? %>
    <%= @user.profile.description%>
  <% else %>
    <%= @user.name+" "+t('profile.is_on') + " "+ t('site.name') %>
  <% end %>
<% end %>

<% content_for :keywords do %>
  <%= @user.profile.subject.tag_list%>
<% end %>

<% sidebar %>

<%= location(link_to(t('profile.one')+": "+truncate_name(sanitize @user.name)))%>
              
<% toolbar :profile, :subject => @user %>

<br class="clearfloat" />


  <div class="guide_home">
    my guides
    <ul class="thumbnails">
        <%= render :partial => "guides/item" %>
    </ul>
  </div>
    <div class="my_diaries">
      my diaries
      <ul class="thumbnails">
    <%= render :partial => "diaries/item" %>
  </ul>
  </div>
    <div class="social">
      contacts
    <%= render :partial => "users/groups",
           :locals  => { :user => @user } %>

    <%= render :partial => "activities/index",
           :locals  => { :activities => @user.wall(:profile, :for => current_subject).
                                              page(params[:page]),
                         :owner => @user } %>
</div>