<section id="devise">
  <article class="objects">
  </article>
  <article class="form">
    <h2><%= t('devise.passwords.forgot') %></h2>
    <h5><%= t('devise.passwords.instructions') %></h5>
    <div>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.label :email %>
      <%= f.text_field :email, :class => "form_tag" %>
      <%= f.submit t('action.send'), :class =>"btn" %>
      <% end %>
    </div>
    <hr class="soften">
    <div class="options">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </article>
</section>
