  <div class="menu-map">
    <ul class="button">
      <li><a href="#">plan your travel experience</a></li>
      <li><a href="#">a new way to know a city</a></li>
      <li><a href="#">never get lost</a></li>
      <li><a href="#">Get your journal automatically</a></li>
      

    </ul>

  </div> 
  <div class="front-map">
    <div class="inspire_Z">
      
      <a class="inspire_front">inspire</a>

    </div>



      <button class="trip_Z" onClick="parent.location='/trips/1'" rel="tooltip" title="toledo" data-original-title="Hi">

      </button>

     <button class="trip_x" ronClick="parent.location='/trips/1'" rel="tooltip" title="new york" data-original-title="Hi">
       
     </button>

     <button class="trip_y" onClick="parent.location='/trips/1'" rel="tooltip" title="london" data-original-title="Hi">
       
     </button>

     <button class="trip_w" onClick="parent.location='/trips/1'" rel="tooltip" title="india" data-original-title="Hi">
       
     </button>



    <div class="search-inspire">

      <p class="front-text">where do you want to go?</p>
      <input id="q" class="search-query" type="text" placeholder="Buscar" name="q" autocomplete="off">
      <!-- <div class="search-nav">
        <%= form_tag search_path, method: 'get', class: "navbar-search" do %>
        <%= text_field_tag :q, nil, autocomplete: :off, class: 'search-query', placeholder: t('search.name'), "data-min_query" => SocialStream::Search::MIN_QUERY %>
        <% end %>
        <%= javascript_tag do %>
          $(function() {
          SocialStream.SearchHeader.show();
          });
        <% end %>
        <div class="mat">
          <%= render partial: 'layouts/loading' %>

          <div class="query_too_short">
            <%= t 'search.at_least', count: SocialStream::Search::MIN_QUERY %>
          </div>

          <div class="no_results">
            <%= t 'search.nothing' %>
          </div>

          <div class="results">
          </div>
        </div>
      </div> -->


    </div>


  </div>