<div id="users">

  <p>top travelers</p>
 
  <div class="users_front_list">

    <ul>

      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>

    </ul>
  
  </div>
  
</div>