<div id="users">
  <div class="top_travelers">

    <p class="topt">top travellers</p>

  </div>
 
  <div class="users_front_list">

    <ul>

      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>
      <%= render :partial => "users/user" %>

    </ul>
  
  </div>
  <div class="app_front">
    
    <%= link_to(image_tag('movil.jpg')) %>
  </div>
  
</div>