<%= form_for @route do |f| %>
	<h2>Form to create a new route</h2>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.hidden_field :guide_id %>
	<%= f.hidden_field :trip_id %>
	<%= f.submit %>
<% end %>