<%#= render :partial => 'objects/show',
           :locals  => { :object => @place } %> 

<%= div_for @guide do %>
  <div class="place_show">
    <div class="place_left">
      <div class="info_photo">
        <%= render :partial => 'carousel' %>
      </div>
      <div class="map">
          <div id="map" class="tab-pane ">
      <%= render  :partial => "guides/map",
                  :locals => { :json => @json, :route => @guide } %>
    </div>
      </div>
    </div>   


    <%#= place_timeline_thumb(@place) %>
        <div class="PRG_information">
          <div class="btn-add"></div>
          <div class="title_prg title_route valign">
            <p class="titlecentral"><%= @guide.title %> guide</p>
          </div>
            <div class="prg_stars">
              <ul>
                <li><div class="star"></div></li>
                <li><div class="star"></div></li>
                <li><div class="star"></div></li>
                <li><div class="star"></div></li>
                <li><div class="star"></div></li>
              </ul> 
            </div>
        <div>  
         <%= render :partial => "guides/info" %>
        <% unless @guide.description.blank? %>
            <h3><%= t('guides.info.description.description') %></h3>
          <% end %>
          <%= @guide.description %>
        </div> 
        </div>     
    </div>
      <div class="btn_map map_prg"><a href="">map mode</a></div>
  
<div id="prg_small">
    <p class="section_contents">guide contents</p>
    <ul class="thumbnails">
      <% @guide.places.each do |p| %>
        <%= render :partial => "guides/small_item", :locals => {:place => p} %>
      <% end %>
    </ul>
</div>




    <div class="related">
      <p class="sections">related events</p>
      <div class="related_events related_all">
         <%= render :partial => 'guides/calendar' %>
      </div>
      <p class="sections">related photos</p>
      <div class="related_photos related_all">
        <% related = @guide.photos.sample(3) %>
        <ul>
          <li><%= thumb_for(related[0], 'thumb100sq') %></li>
          <li><%= thumb_for(related[1], 'thumb100sq') %></li>
        </ul>
        <ul>
          <li><%= thumb_for(related[2], 'thumb100sq') %></li>
          <li><%= thumb_for(related[0], 'thumb100sq') %></li>
        </ul>
      </div>

      <p class="sections">related videos</p>
      <div class="related_videos related_all">
        <div class="related_videos related_all">
        <div class="video"><iframe width="250" height="188" src="http://www.youtube.com/embed/fSi_08eRGiI" frameborder="0" allowfullscreen></iframe></div>
      </div>
      </div>
    </div>
    <div class="PRG_description">
      <h2>The imperial city in 24 hours</h2>
      <p>The old city is located on a mountaintop with a 150 degree view, surrounded on three sides by a bend in the Tagus River, and contains many historical sites, including the Alcázar, the cathedral (the primate church of Spain), and the Zocodover, a central market place.

      <p>The Cathedral of Toledo (Catedral de Toledo) was built between 1226–1493 and modeled after the Bourges Cathedral, though it also combines some characteristics of the Mudéjar style. It is remarkable for its incorporation of light and features the Baroque altar called El Transparente, several stories high, with fantastic figures of stucco, paintings, bronze castings, and multiple colors of marble, a masterpiece of medieval mixed media by Narciso Tomé topped by the daily effect for just a few minutes of a shaft of light from which this feature of the cathedral derives its name. Two notable bridges secured access to Toledo across the Tajo, the Alcántara bridge and the later built San Martín bridge.</p>

      <p>The Monasterio de San Juan de los Reyes is a Franciscan monastery, built 1477-1504, in a remarkable combination of Gothic-Spanish-Flemish style with Mudéjar ornamentation.</p>

      <p>Toledo was home to El Greco for the latter part of his life, and is the subject of some of his most famous paintings, including The Burial of the Count of Orgaz, exhibited in the Church of Santo Tomé.</p>
     
    </div>
    <div class="coment-social">
      <div id="comments" class="comments">
        <h2>Comments</h2>
        <div class="new-comments-box">
          <%= render :partial => 'comments/new', :locals => { :activity => @guide.post_activity } %>
        </div>
      </div>
        <%= render :partial => 'activities/comments', :locals => { :activity => Trip.first.post_activity } %>
        <%= render :partial => 'activities/comments', :locals => { :activity => @guide.post_activity } %>
    </div>
<% end %>



