<%= render :partial => 'objects/show',
           :locals  => { :object => @place } %>
<%= div_for @place do %>
	<div class="place_show">
    <h2 class="titlecentral"><%= @place.title %></h2>
    <div class="info_photo">
      <%= render :partial => 'carousel' %>
    </div>
    <div class="map">
      <%= gmaps(:map_options => { :container_class => "map_container", :id => "map", :class => "gmaps4rails_map", :auto_zoom => false, :zoom => 16 }, :markers => {:data => @json} )%>
      <%= yield :scripts %>
    </div>   
	  
    <%#= place_timeline_thumb(@place) %>
        <div class="description">
      <%= render :partial => 'place_info' %>
      <% unless @place.description.blank? %>
        <h3><%= t('place.info.description.description') %></h3>
      <% end %>
      <%= @place.description %>
    </div>
    <div class="coment-social">
      <div id="comments" class="comments">
        <h2>comments</h2>
        <div class="new-coments-box">
          <%= render :partial => 'comments/new', :locals => { :activity => @place.post_activity } %>
        </div>
        <%= render :partial => 'activities/comments', :locals => { :activity => @place.post_activity } %>
      </div>
    </div>


    

	</div>
<% end %>

