<%#= render :partial => 'objects/show',
           :locals  => { :object => @place } %> 
<%= div_for @place do %>
	<div class="place_show">
    <div class="place_left">
      <div class="info_photo">
        <%= render :partial => 'carousel' %>
      </div>
      <div class="map">
        <div class="map_container">
          <%= gmaps(:map_options => { :container_class => "map_container", :id => "map", :class => "gmaps4rails_map", :auto_zoom => false, :zoom => 16 }, :markers => {:data => @json} )%>
          <%= yield :scripts %>
        </div>
      </div>
    </div>   


    <%#= place_timeline_thumb(@place) %>
        <div class="PRG_information">
          <div class="btn-add"></div>
          <div class="title_prg title_place ">
            <p class="titlecentral"><%= @place.title %></p>
          </div>
            <div class="prg_stars">
              <ul>
                <li><div class="star"></div></li>
                <li><div class="star"></div></li>
                <li><div class="star"></div></li>
                <li><div class="star"></div></li>
                <li><div class="star"></div></li>
              </ul> 
            </div>
        <div>  
          <%= render :partial => 'place_info' %>
        </div> 
      </div>     
    </div>
    <div class="btn_map map_prg"><a href="">map mode</a></div>
    <div class="related">
      <p class="sections">related events</p>
      <div class="related_events related_all">
        <%= render :partial => 'routes/calendar' %>
      </div>
      <p class="sections">related photos</p>
      <div class="related_photos related_all">
        <% unless @place.photos.empty? %>
          <% related = @place.photos.sample(3) %>
          <ul>
            <li><%= thumb_for(related[0], 'thumb100sq') %></li>
            <li><%= thumb_for(related[1], 'thumb100sq') %></li>
          </ul>
          <ul>
            <li><%= thumb_for(related[2], 'thumb100sq') %></li>
            <li><%= thumb_for(related[0], 'thumb100sq') %></li>
          </ul>
        <% end %>
      </div>
      
      <p class="sections">related videos</p>
      <div class="related_videos related_all">
        <div class="video"><iframe width="250" height="188" src="http://www.youtube.com/embed/fSi_08eRGiI" frameborder="0" allowfullscreen></iframe></div>
      </div>
    </div>
    <% unless @place.description.blank? %>
      <div class="PRG_description">
        <h2><%= t('place.info.description.description') %></h2>
        <%= @place.description %>
      </div>
    <% end %>
    
    <div class="coment-social">
      <div id="comments" class="comments">
        <h2>Comments</h2>
        <div class="new-comments-box">
          <%= render :partial => 'comments/new', :locals => { :activity => @place.post_activity } %>
        </div>
      </div>
        <%= render :partial => 'activities/comments', :locals => { :activity => Trip.first.post_activity } %>
        <%= render :partial => 'activities/comments', :locals => { :activity => @place.post_activity } %>
    </div>
<% end %>

