<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render :partial => "layouts/head" %>
  </head>

  <body>
    <div class="wrapper container">
      <%= render :partial => "layouts/header" %>
      <div id="flash">
        <%#= render :partial => "layouts/flash", :locals => {:flash => flash} %>
      </div>
<div id="toolbar " class="hidden-phone">
      <% if content_for?(:toolbar) %>
        
          <%= yield :toolbar %>
        
      <% end %>
</div>
      <section id="content" class="<%= content_section_class %>">
        <%= yield %>
      </section>
  
      <% if content_for?(:sidebar) %>
        <aside id="sidebar">
          <div id="sidebarContent">
            <%= yield :sidebar %>
          </div>
        </aside>
      <% end %>
    </div>
    
    <%= render :partial => "layouts/footer" %>

  </body>
  
</html>
