<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render :partial => "layouts/head" %>
  </head>
  <body>
    <div class="wrapper container">
      <%= render :partial => "layouts/header" %>
      holaaa
      <div class="banner"></div>
      <%= flashy %>
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>
  </body>
  
</html>
