<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <body>
    <%= render :partial => "layouts/header" %>
    <section class="container">
      <div class="row-fluid">
        <div class="banner"></div>
        <%= flashy %>
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <%= render :partial => "layouts/footer" %>
    </footer>
  </body>
</html>
