<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render :partial => "layouts/head" %>
  </head>
  <body>
    <%= render :partial => "layouts/header" %>
    <div class="container">
      <div class="row-fluid">
        <div class="banner"></div>
        <%= flashy %>
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <%= render :partial => "layouts/footer" %>
    </footer>
  </body>
</html>
