<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render :partial => "layouts/head" %>
    <script>
      $(function() {
      $( ".sortable" ).sortable({
      revert: true
      });
      $( "ul, li" ).disableSelection();
      });
    </script>
  </head>
  <body>
    <%= render :partial => "layouts/header" %>
    <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
    <section class="container ">
      <div class="banner"></div>
      <%= yield %>
    </section>
    <footer class="footer">
      <%= render :partial => "layouts/footer" %>
    </footer>
  </body>
</html>
