<li class="" rel="tooltip" title=<%= Trip.first.guides.first.title %> data-original-title="Hi">
	<%= link_to thumb_for(Trip.first.guides.first.main_picture, '500'), Trip.first.guides.first %>
</li>
<li class="" rel="tooltip" title=<%= Trip.first.places[0].title %> data-original-title="Hi">
	<%= link_to thumb_for(Trip.first.places[0].main_picture, '500'), Trip.first.places[0]%>
</li>
<li class="" rel="tooltip" title=<%= Trip.first.places[2].title %> data-original-title="Hi">
	<%= link_to thumb_for(Trip.first.places[2].main_picture, '500'), Trip.first.places[2]%>
</li>
<li class="" rel="tooltip" title=<%= Trip.first.routes.first.title %> data-original-title="Hi">
	<%= link_to thumb_for(Trip.first.routes.first.main_picture, '500'), Trip.first.routes.first %>
</li>
<li class="" rel="tooltip" title=<%= Trip.first.places[1].title %> data-original-title="Hi">
	<%= link_to thumb_for(Trip.first.places[1].main_picture, '500'), Trip.first.places[1]%>
</li>
<li class="">
	<%= image_tag('empty.png') %>
</li>
<li class="">
	<%= image_tag('empty.png') %>
</li>
<li class="">
	<%= image_tag('empty.png') %>
</li>
<li class="">
	<%= image_tag('empty.png') %>
</li>
<li class="">
	<%= image_tag('empty.png') %>
</li>