<li class="" rel="tooltip" title="name" data-original-title="Hi">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
