<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
<li class="">
	<%= image_tag('panoramica_toledo.jpg') %>
</li>
